*{
    box-sizing:border-box;
  }
  body{
    background-color:#8ecae6;
    font-family:Arial;
    padding: 30px 0px 0px 0px;
  }
  .dropdown {
    position: relative;
    display: block;
 }
 #list-items {
  display: none;
  position: relative;
  background-color: white;
  width: 156.5px;
}

#list-items a {
  display: block;
  font-size: 15px;
  background-color: rgb(240, 144, 144);
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

  #container{
    width:490px;
    height:730px;
    background:#219ebc;
    margin-top: 30px;
    margin:0 auto;
    font-size:0;
    border-radius:15px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    
  }
  main{
    width:490px;
    height:700px;
    display:inline-block;
    font-size:15px;
  } 
  .status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
  }
  .green{
    background-color:#58b666;
  }
  .blue{
    background-color:aqua;
    margin-right:0;
    margin-left:7px;
  }
  
  main header{
    height: 60px;
    padding:3px 20px 10px 40px;
    display: flex;
  }
 main header button{
  margin: 15px 0px 0px 325px;
  font-size: medium;
  border-radius: 15px;
  background-color:deepskyblue;
  border: solid 1px;
 }
  #chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    height:600px;
    background-color:#023047;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
   #chat::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  #chat::-webkit-scrollbar-thumb {
    background:rgb(139, 139, 139);
    border-radius: 10px;
  }
  #chat::-webkit-scrollbar-track {
    background: transparent;
  }
  #chat li{
    padding:10px 30px;
  }
  #chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
  }
  #chat h3{
    color:#bbb;
  }
  #chat .entete{
    margin-bottom:5px;
  }
  #chat .message{
    padding:10px 10px 10px 10px;
    color:solid black;
    line-height:20px;
    max-width:50%;
    display:inline-block;
    text-align:left;
    border-radius:10px;
  }
  #chat .me{
    text-align:right;
  }
  #chat .you .message{
    background-color:#58b666;
    text-align: center;
  }
  #chat .me .message{
    background-color:aqua;
    text-align: center;
  }
  
  .footer{
    
    margin-left: 0px;
  }
  .inputs{
    border-radius: 8px;
    height: 40px;
    width: 350px;
    margin-top:15px;
    bottom: auto;
   margin-left: 20px;
  }
.btn{
    border-radius: 10px;
    height: 38px;
    width:60px ;
    background-color:deepskyblue;
    margin-left: 30px;
    font-size: medium;
    border: solid 1px;
   
}
  h2{
    color: #fff;
    margin-left: 5px;
    margin-right: 5px
  }
  .reactBtn>button
  {

   border-radius: 10px;
   background-color: darkcyan;
  
  }
  .bnt{
    
   border-radius: 10px;
   background-color: darkcyan;
  }
  .inpt{
    border-radius: 10px;
  }
  .reaction{
    background-color:rgb(4, 160, 160); 
    border-radius: 10px;
    padding:7px;
    
  }
  .who{
    font-size: 11px;
  }
  .what{
    display: flex;
    justify-content: center;
  }
  .hvr {
    display: none;
  }   
  .message:hover + .hvr {
    display: block;
  }